.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 188px;
}

.subtitle {
  font-style: italic;
}

.button_start {
  display: inline-block;
  margin-top: 50px;
  padding: 18px;
  color: #FFFFFF !important; /* Don't do this. Figure out CSS selectors for NextJS */
  background-color: #3D94F6;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 38px;
}

.button_start:hover {
  background: #1E62D0;
  border: solid #337FED 1px;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .title {
    font-size: 125px;
  }
}
